---
layout: main
body: blog
pagination: 
  data: months
  size: 1
months:
  - 2018/12
  - 2019/01
  - 2019/02
  - 2019/03
  - 2019/04 
  - 2019/05
  - 2019/06
  - 2019/07
  - 2019/08
  - 2019/09
  - 2019/10
  - 2019/11
  - 2019/12
  - 2020/01
  - 2020/02
  - 2020/05
  - 2020/06
permalink: blog/{{ pagination.items[0] }}/index.html
---

{% set slug = pagination.items[0] %}

{% set date = slug | parseDateFromYearMonth %}

{% set posts = collections.post %}

{% set lastdate = "" %}
{% set blogindex = true %}

{% for post in posts %}

{% if post.url.startsWith("/posts/" + slug ) %}

{% set currentdate = post.date | displayDate %}
{% if lastdate != currentdate %}
<div class="date">
{{ currentdate }}
</div>
{% set lastdate = currentdate %}
{% endif %}

{% include "post-partial.njk" %}

{% if not loop.last %}
<div class="post-seperator"></div>
{% endif %}

{% endif %}
{% endfor %}

<div class="blogarchivenav">
{% if pagination.previousPageHref %}
<div class="prev">
 <a href="{{ pagination.previousPageHref }}"><i class="icon-left-circled"></i> {{ pagination.previousPageHref | archiveMonthDate }}</a>
</div>
{% endif %}
{% if pagination.nextPageHref %}
<div class="next">
<a href="{{ pagination.nextPageHref }}">{{ pagination.nextPageHref | archiveMonthDate}} <i class="icon-right-circled"></i></a>
</div>
{% endif %}
</div>

{% include "face.njk" %}