<div class="face">
<div class="headcircle">
<img src="/img/duncan.jpg" width="100" height="100">
{% if page.inputPath != "./content/index.njk" %}
<div class="text">
<p>
<a href="/">Duncan Davidson</a> is a software developer, <a href="/startups/">startup advocate</a>, <a href="/talks/">speaker</a>, book author, and photographer living in Berlin.
</p>
{% endif %}
</div>
</div>
</div>