<div class="social">
<a href="https://twitter.com/duncan">{% include "icons/twitter.svg" %}</a>
<a href="https://github.com/duncan">{% include "icons/github.svg" %}</a>
<a href="/feed">{% include "icons/rss.svg" %}</a>
</div>