---
layout: home
alede: Hi. My name is Duncan Davidson and I’m a software developer, <a href="/startups/">startup advocate</a>, <a href="/talks">speaker</a>, book author, and photographer.
---

<p class="lede">Hi. I’m Duncan Davidson.</p>

<p>I am a Startup Advocate and CTO in Residence at <a href="https://startups.microsoft.com">Microsoft for Startups</a> in Berlin, Germany. My job is to provide advice for startup founders and CTOs and help them prioritize, focus, and think through their work.</p>

<p>&nbsp;</p>

<div class="post-seperator"></div>

{% set lastdate = "" %}
{% set blogindex = true %}

{% for post in collections.post | reverse | limit(10) %}

{% set currentdate = post.date | displayDate %}
{% if lastdate != currentdate %}
<div class="date">
{{ currentdate }}
</div>
{% set lastdate = currentdate %}
{% endif %}

{% include "post-partial.njk" %}

{% if not loop.last %}
<div class="post-seperator"></div>
{% endif %}

{% endfor %}


<!--
In addition to my work as a software developer, I’ve been a professional photographer for conferences by TED, O’Reilly, and Apple; and I’ve authored several books published by O’Reilly and Pragmatic Press. I’m still making photographs and writing words, albeit quite a bit less professionally these days. -->

<!-- You can find me rambling on [Twitter](https://twitter.com/duncan), pushing code to [GitHub](https://github.com/duncan), writing on [Medium](https://medium.com/@duncan), and connecting to people on [LinkedIn](https://www.linkedin.com/in/duncandavidson/). You can also [email me](mailto:me@duncandavidson.com). -->

<!--
# Photographer

TED and O’Reilly Media. -->
<!--
# Creator of Apache Tomcat and Apache Ant

[Tomcat](https://tomcat.apache.org) started out as a reference implementation of the [Java Servlet API](https://en.wikipedia.org/wiki/Java_servlet) that I first wrote while working on the specification at Sun Microsystems. To aid the adoption of the Servlet API, I lead an effort in Sun to open source Tomcat and donate it to the Apache Software Foundation. Almost twenty years later, Tomcat is on version 9 and is powering countless websites around the world.

While working on Tomcat, I wanted a build tool that worked on all the platforms that Java ran on. After trying to make many other tools work, I ended up writing my own. And, because it was needed to build Tomcat, it was open sourced and donated to Apache at the same time. Without any fanfare or promotion, a vibrant open source community formed around Ant and continued its maintenance.

# Book Author

I’ve written two books and co-written or significantly contributed to five others, all of which are out of print and out of date at this point:

* [Learning Cocoa with Objective-C](http://shop.oreilly.com/product/9780596003012.do), 2002 O’Reilly Media
* [Running Mac OS X Panther](http://shop.oreilly.com/product/9780596005009.do), 2003 O’Reilly Media
* [Cocoa in a Nutshell](http://shop.oreilly.com/product/9780596004620.do) with Michael Beam, 2003 O’Reilly Media
* [Mac OS X Panther Hacks](http://shop.oreilly.com/product/9780596007188.do) with Rael Dornfest, 2004 O’Reilly Media
* [Running Mac OS X Tiger](http://shop.oreilly.com/product/9780596009137.do) with Jason Deraleau, 2005 O’Reilly Media
* [Agile Web Development](http://shop.oreilly.com/product/9780977616633.do) by Dave Thomas and David Heinemeier Hansson, 2006 Pragamatic Bookshelf -->
