---
body: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
      <title> {{title}} &mdash; Duncan Davidson</title>
    {% else %}
      <title>Duncan Davidson</title>
    {% endif %}
    
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="alternate" type="application/atom+xml" href="https://duncan.dev/feed.xml">
  </head>
  <body class="{{ body }}">

    {% if layout != "home" %}
    <div id="nav">
      <a href="/"><strong>duncan</strong> davidson</a>
    </div>
    {% endif %}
    {{ content | safe }}
    <div id="footer">
      <a href="/feed.xml"><i class="icon-rss"></i> feed</a>

      &bull;      
      
      <a href="/colophon/">colophon</a>

      &bull;
      
      <a href="https://github.com/duncan/website/"><i class="icon-github"></i> source</a>

      <!-- <a href="https://updown.io/x825"><i class="icon-server"></i></a>-->
    </div>
  </body>
</html>