---
layout: main
body: page
---
<header>
{% include "hero.njk" %}
<div class="date">{{ date | displayDate }}</div>
<h1>{{ title }}</h1>
{% if date %}
{% endif %}
{% if lede %}
<p class="lede">{{ lede }}</p>
{% endif %}
{% if note %}
<p class="note">{{ note | safe }}</p>
{% endif %}
</header>
<article>
{{ content | safe }}
</article>
<footer>
{% include "face.njk" %}
</footer>