<div class="blurb">
<p>I’m an American software developer living in Berlin, Germany. During the day, I work as Technology Advisor at <a href="https://startups.microsoft.com">Microsoft for Startups</a>. After hours, I’m a photographer and author. All opinions here are mine.</p> 

<p>You can find me on <a href="https://twitter.com/duncan">Twitter</a> and <a href="https://www.linkedin.com/in/duncandavidson/">LinkedIn</a>.</p>
</div>